p {
    font-family: Lato;
  }

#mainRow{
  margin-top: 35px;
}

#graphDiv{
  margin-left: 5px;
  //min-width: 40%;
}

#tabDiv{
  //min-width: 40%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}